body{
    background-image: url(wallpaper\ star\ wars.jpg);
    max-width: auto;
}
main {
    background-color: rgb(252, 252, 252);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
